* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#Inicio {
    font-family: "Brush Script MT" ;
    background-color: wheat;
    color: black;
    overflow-x: hidden;
    padding: 5px;
    font-size: x-large;
    background-image: url(../objetos/Imagen-de-pantalla-principal.jpg);
    background-position: center;
    background-size: cover;
}

main { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: transparent;
    object-position: center;
    padding: 0;
    margin: 100px;
    text-align: center;
}